<template>
  <div class="wrapper">
    <div class="column-1">
      <h2>Voer een postcode in</h2>
      <input v-model="postcode" id="test" type="text" @keyup.enter="InfoPostcode">
      <button @click="InfoPostcode" type="submit">Zoek</button>

      <div v-if="showResult">
        <h4>Stad:</h4>
        <span class="info">{{ stad }}</span>
        <h4>Straat:</h4>
        <span class="info">{{straatnaam}}</span>
        <h4>Provincie:</h4>
        <span class="info">{{provincie}}</span>
        <GmapMap class="googlemap" :center="{lng:this.longitude, lat:this.latitude}" :zoom="15">
          <GmapMarker :position="{lng:this.longitude, lat:this.latitude}" />
        </GmapMap>
      </div>
      <div v-else>
        Voer een geldige postcode in
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data(){
    return{
      postcode: '',
      straatnaam: '',
      stad: '',
      provincie: '',
      latitude: 0,
      longitude: 0,
      showResult: false
    }
  },
  methods:{
    InfoPostcode() {
      this.axios.get('https://geodata.nationaalgeoregister.nl/locatieserver/free?fq=postcode:' + this.postcode.replace(/\s/g,''), {
      })//pakt de basis url + de tekst in de input
        .then((res) => {
          if(res.data.response.docs.length){
            this.straatnaam = res.data.response.docs[0].straatnaam;
            this.stad = res.data.response.docs[0].woonplaatsnaam;
            this.provincie = res.data.response.docs[0].provincienaam;
            this.longitude = parseFloat(res.data.response.docs[0].centroide_ll.split('(').pop().split(' ')[0])
            this.latitude = parseFloat(res.data.response.docs[0].centroide_ll.split(' ').pop().split(')')[0])
            this.showResult = true;            
          }else{
            this.straatnaam = '';
            this.stad = '';
            this.provincie = '';
            this.showResult = false;
          }
        })
        .catch((err) => {
          console.log(err)
          this.showResult = false;
      })
    },
  },
}
</script>

<style>
body {
  background-color: coral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
    width: 70%;
    margin: 3% auto;
    position: absolute;
    left: 0;
    right: 0;
}
.column-1 {
    padding: 2%;
    background-color: white;
    margin: 0;
}
.googlemap{
    height: 360px;
    margin-top: 5%;
}
</style>
